body {
    margin: 0;
    font-family: Calibri;
}

header nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
header button:hover{
    background-color: #FFFFFF;
    border: 1px solid #00BAFC;
    color: black;

}
.navbar {
    position: relative;
    display: flex;
    box-shadow: 0 0 8px 0;
    height: 58px;
}
.navbar ul {
    cursor: pointer;
    position: absolute;
    display: flex;
    margin: 12px;
    left: 550px;
}
.navbar img {
    margin-left: 130px;
    font-size: 20px;
    margin-top: 20px;
}
.navbar ul li {
    list-style-type: none;
    padding: 10px 10px;
}
.navbar ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}
.navbar ul li:hover{
    border-bottom: 2px solid black;
}

.navbar button {
    position: absolute;
    padding: 10px;
    background-color: #00BAFC;
    Width: 159px;
    Height: 40px;
    border: none;
    border-radius: 5px;
    left: 1057px;
    top: 10px;
    color: #FFFFFF;
}
.container {
    margin: 0 100px;
}
.row {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.card{
    padding: 10px;
    width: 500px;
    min-height: 300px;
}
.card button{
    background-color: #00BAFC;
    Width: 200px;
    Height: 40px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}
.card button:hover{
    background-color: #FFFFFF;
    border: 1px solid #00BAFC;
    color: black;
}
.card iframe {
    border-radius: 5px;
    Width: 458px;
    Height: 258px;
    margin-left: 100px;
}
 .text {
     margin-top: 50px;
     text-align: center;
     width: 800px;
     margin-left: 200px;
 }
.col-1{
    width: 320px;
    height: 260px;
    box-shadow: 0 2px 4px 0;
    margin: 25px;
    padding: 15px;
}
.container:nth-child(2) .row:nth-child(3){
    margin-left: 183px;
}
.card-1 {
    text-align: center;
}
.container:nth-child(2) button{
    Width:167px;
    Height :40px;
    background-color: #00BAFC;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 403px;
    cursor: pointer;
}
.container:nth-child(2) a{
    color: #00BAFC;
}
.col-1:hover{
    transform: scale(1.05);
    transition: 1.5s;
}
.container:nth-child(2) button:hover{
    background-color: #FFFFFF;
    border: 1px solid #00BAFC;
    color: black;
}
.row .card-2{
    display: flex;
}
.container:nth-child(3) .col{
    margin: 20px;
}
.card-right{
    margin-left: 150px;
}
.container:nth-child(3) button{
    Width:167px;
    Height :40px;
    background-color: #00BAFC;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 480px;
    cursor: pointer;
}
.container:nth-child(3) button:hover{
    background-color: #FFFFFF;
    border: 1px solid #00BAFC;
    color: black;
}
section{
    background-color: #00BAFC;
    color: #FFFFFF;
}
form{
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 370px;
    height: 340px;
    padding: 20px;
}
form .form-group input{
    width: 300px;
    min-height: 60px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    /*padding: 10px 30px;*/
margin: 20px 30px;
}
select{
    width: 300px;
    min-height: 60px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    margin: 10px 30px;
}
.card form{
    margin-left: 350px;
}
form button{
  margin-left: 80px;
}
.container:nth-child(4) .text{
    padding: 20px;
}
footer {
    background-color: black;
    color: #FFFFFF;
}
.row .col-3{
    width: 320px;
}
.col-3 .box{
    display: flex;
}
.card-3 ul li {
  list-style: none;
    cursor: pointer;
    margin: 10px;
}
.card-3 h3{
    margin-left: 50px;
}
.card-3 ul li:hover{
    color: #00BAFC;
}