body {
    font-family: "Open Sans";
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid transparent;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
.container .logo-img:hover {
    opacity: 0.6;
}
.container .logo-img:active {
    opacity: 0.8;
}
.container .logo-img {
    cursor: pointer;
    margin-right: auto;
}
.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    border-bottom: 3px transparent;
    align-items: center;
}
.navbar .container {
    display: flex;
}
.navbar img {
    margin-top: 22px;
}
.navbar .nav-item {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    justify-content: center;

}
.navbar .nav-item .item {
    list-style-type: none;
    padding: 24px 17px;
}

.navbar .nav-item .item a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}

.container a button {
    margin: 8px 8px;
    background: #00BAFC;
    border: none;
    width: 159px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.container a button:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.container a button:active {
    background: rgba(0, 186, 252, 0.6);
    border: none;
}

.navbar .nav-item .item:hover {
    border-bottom: 3px solid black;
}
.nav-logo {
    margin: 8px 0;
}
.nav-logo:hover {
    opacity: 0.6;
}
.nav-logo:active {
    opacity: 0.8;
}
.container a button:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}
.container a button:active {
    background: rgba(0, 186, 252, 0.6);
    border: none;
}
.nav-item .item:hover {
    border-bottom: 3px solid black;
}
.nav-item .item:active {
    background-color: #191919;
}

.nav-item .item a:active {
    color: #ffffff;
}

/*!**!main*/
.row:nth-child(1) {
    display: flex;
    margin: 80px 0;
}

.card-left {
    width: 470px;
    height: 270px;
    top: calc(50% - 224px / 2);
}

.card:nth-child(1) {
    display: flex;
    margin-top: 80px;
}

.card-right iframe {
    border-radius: 5px;
    margin-left: 230px;
}

.card-left button {
    background: #00BAFC;
    border-radius: 5px;
    width: 232px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

.card-left button:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.card-left button:active {
    background: rgba(0, 186, 252, 0.6);
    border: none;
}

.text-head {
    text-align: center;
    width: 719px;
    margin: 0 auto;
}

.card-x {
    width: 300px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 29px;
    /*margin-left: 35px;*/
}

.card-x-1 {
    margin: 0 30px;
    width: 300px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 29px;
    justify-content: center;

}

.card-x:hover {
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.card-x-1:hover{
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.card-x:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.card-x-1:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.row:nth-child(2) {
    display: flex;
    margin: 80px 0;
}

.row:nth-child(3) {
    display: flex;
    margin-left: 180px;
}

.btn-x {
    margin-left: 380px;
}

.btn-x .btn {
    width: 167px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin: 70px;
}

.btn-x .btn:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.btn-x a {
    color: #00BAFC;
    text-align: center;
    margin-left: 16px;
}

.text-head-2 {
    text-align: center;
    width: 719px;
    margin: 80px auto;

}

.row-b {
    margin-top: 20px;
}

.card-b {
    display: flex;
}

.card-b-r {
    width: 493px;
    height: 48px;
    margin-left: 32px;
    margin-top: 60px;
}

.card-b-l-1 {
    width: 493px;
    height: 48px;
    margin-top: 60px;
}

.card-b-r-1 {
    margin-left: 32px;
}

/*!**!SECTION*/
section {
    background-color: #00BAFC;
    color: #FFFFFF;
    height: 520px;
}

.text-head-3 {
    margin-top: 70px;
    text-align: center;
    width: 719px;
    margin-left: 300px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.form {
    background-color: #FFFFFF;
    width: 348px;
    min-height: 304px;
    border-radius: 5px;
    margin: 0 auto;

}

form {
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 370px;
    height: 340px;

}

form .form-group input {
    width: 300px;
    min-height: 56px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    margin: 16px 30px;

}
form .form-group input[type=text]{
    color: black;
}
select {
    width: 300px;
    min-height: 60px;
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    margin: 10px 30px;
}

.btn-2 {
    width: 167px;
    height: 40px;
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    margin-left: 90px;
    margin-top: 16px;
}

/*Footer*/
footer {
    background-color: black;
    color: #FFFFFF;
    top: 0;
    margin-bottom: 50px;
}
.row .col-3{
    width: 320px;
}
.col-3 .box{
    display: flex;
}
.card-3 ul li {
    list-style: none;
    cursor: pointer;
    margin: 10px;
}
.card-3 h3{
    margin-left: 50px;
}
.card-3 ul li:hover{
    color: #00BAFC;
}