body {
    font-family: "Open Sans";
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid transparent;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.container .logo-img:hover {
    opacity: 0.6;
}

.container .logo-img:active {
    opacity: 0.8;
}

.container .logo-img {
    cursor: pointer;
    margin-right: auto;
}

.navbar {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
    border-bottom: 3px transparent;
    align-items: center;
}

.navbar .container {
    display: flex;
}

.navbar img {
    margin-top: 22px;
}

.navbar .nav-item {
    display: flex;
    list-style: none;
    flex-direction: row;
    margin: 0;
    justify-content: center;
}

.navbar .nav-item .item {
    padding: 24px 17px;
    border-bottom: 3px solid transparent;
}

.navbar .nav-item .item:hover {
    border-bottom: 3px solid black;
}

.navbar .nav-item .item a {
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}

.container a button {
    margin: 8px 8px;
    background: #00BAFC;
    border: none;
    width: 159px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.container a button:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.container a button:active {
    background: rgba(0, 186, 252, 0.6);
    border: none;
}

.nav-logo {
    margin: 8px 0;
}

.nav-logo:hover {
    opacity: 0.6;
}

.nav-logo:active {
    opacity: 0.8;
}

.container a button:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.container a button:active {
    background: rgba(0, 186, 252, 0.6);
    border: none;
}

.nav-item .item:hover {
    border-bottom: 3px solid black;
}

.nav-item .item:active {
    background-color: #191919;
}

.nav-item .item:nth-child(2) {
    position: relative;

}

.nav-item .item:active .item .link {
    color: #ffffff;
}

/*DROPDOWN*/
.nav-item .link:nth-child(2) {
    position: relative;
}

.dropdown-ul {
    display: none;
    position: absolute;
    top: 73px;
    left: -16px;
    background-color: #fff;
    padding: 15px 10px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    width: 120px;
}

.dropdown-li {
    display: inline-block;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding-bottom: 16px;
    left: 0;
    right: 0;
}

.dropdown-li:hover {
    background-color: #00BAFC;
    color: white;
}

.nav-item .item:nth-child(2):hover .dropdown-ul {
    display: block;
}

/*!**!main*/
.row:nth-child(1) {
    display: flex;
    margin: 80px 0;
}

.card-left {
    width: 470px;
    height: 270px;
    top: calc(50% - 224px / 2);
}

.card:nth-child(1) {
    display: flex;
    margin-top: 130px;
    justify-content: space-between;
}

.card-right iframe {
    border-radius: 5px;
    display: flex;
    justify-content: right;
}

.card-left button {
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 20px;
}

.card-left button:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.card-left button:active {
    background: rgba(0, 186, 252, 0.6);
    border: none;
}

.text-head {
    text-align: center;
    width: 719px;
    margin: 100px auto 0 auto;
}
.card-x {
    width: 300px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 29px;
}

.card-x:hover {
    box-shadow: 0 12px 21px rgba(0, 0, 0, 0.1);
}
.card-x:active {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.row {
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}

.row:nth-child(3) {
    display: flex;
    justify-content: center;
}
.row:nth-child(3) .card-x:nth-child(2){
    margin-right: 30px;
}
.btn-x {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-x .btn {
    background: #00BAFC;
    border-radius: 5px;
    /*border: none;*/
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 15px 15px;
    border: 3px solid transparent;
}

.btn-x .btn:hover {
    background-color: #FFFFFF;
    color: #00BAFC;
    border: 3px solid #00BAFC;
    transition: 2s;
}

.btn-x a {
    color: #00BAFC;
    text-align: center;
    margin-left: 10px;
    align-items: center;
    display: flex;
}

.text-head-2 {
    text-align: center;
    width: 719px;
    margin: 80px auto;

}

.row-b {
    margin-top: 20px;
}

.card-b {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 30px 0;
}

.card-b-r {
    width: 493px;
    padding-left: 50px;
}

.card-b-l-1 {
    width: 493px;
    align-items: center;
}

.card-b-r-1 {
    padding-left: 32px;
}

/*!**!SECTION*/
section {
    background-color: #00BAFC;
    color: #FFFFFF;
    height: 520px;
    margin-top: 50px;
}

.text-head-3 {
    text-align: center;
    width: 719px;
    margin: 0 auto;
    padding-top: 20px;
}

.card-form {
    background-color: #FFFFFF;
    width: 348px;
    border-radius: 5px;
    margin: 0 auto;

}

.form-group {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 24px;

}

.form-group > * {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

.form-group input, select {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
    padding: 16px 0 16px 16px;
    box-sizing: border-box;
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
    color: black;
}

select {
    background-color: #f3f3f3;
    border: none;
    border-radius: 5px;
}

.btn-2 {
    background: #00BAFC;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    padding: 8px 16px;
    font-size: 16px;
    margin: 0 auto;
    width: unset;
}

.form-group select {
    appearance: none;
    background-image: url("Polygon 1.png");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 270px center;
}

/*Footer*/

footer {
    background-color: black;
    color: #FFFFFF;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.card-footer:nth-child(1) p {
    top: 0;
    width: 320px;
}

.footer-ul {
    list-style-type: none;
}

.card-footer-ul {
    position: relative;
}

.card-footer-ul h4 {
    padding-left: 30px;
}

.footer-li {
    margin: 0;
    cursor: pointer;
}

.footer-li:hover {
    color: #00BAFC;
}